<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="id.mncinnovation.ocr">

    <uses-permission android:name="android.permission.CAMERA" />

    <application>
        <activity
            android:name=".SplashOCRActivity"
            android:exported="false"
            android:theme="@style/Theme.AppCompat.DayNight.NoActionBar" />
        <activity
            android:name=".ConfirmationOCRActivity"
            android:exported="false"
            android:theme="@style/Theme.AppCompat.DayNight.NoActionBar" />
        <activity
            android:name=".CaptureOCRActivity"
            android:exported="false" />
        <activity
            android:name=".ScanOCRActivity"
            android:exported="false"
            android:theme="@style/Theme.AppCompat.DayNight.NoActionBar" />
    </application>

</manifest>